backend:
  name: git-gateway
  branch: master
media_folder: public/images/post
slug:
  encoding: 'ascii'
  clean_accents: true
  sanitize_replacement: '-'
collections:
  - label: 'Blog'
    name: 'blog'
    folder: 'content'
    create: true
    slug: '{{slug}}'
    fields:
      - { label: 'Title', name: 'title', widget: 'string', required: true }
      - { label: 'Description', name: 'description', widget: 'string', required: true }
      - { label: 'Publish Date', name: 'date', widget: 'datetime', required: true }
      - { label: 'Featured Image', name: 'thumbnail', widget: 'image', required: true }
      - { label: "Tags",name: "tags",widget: "list", default: ["Pashudh"] }
      - { label: "Categories",name: "categories",widget: "list", default: ["Pashudh"] }
      - { label: 'Body', name: 'body', widget: 'markdown', required: true }
